{% extends 'base.html.twig' %}

{% block body %}
    <h1>Price</h1>

    <h2>Test with</h2>

    <table>
        <tr>
            <th>Case</th>
            <th>Value</th>
            <th>Expected violation</th>
        </tr>
        <tr>
            <td>Valid 1</td>
            <td>0.015</td>
            <td></td>
        </tr>
        <tr>
            <td>Valid 2</td>
            <td>0.01</td>
            <td></td>
        </tr>
        <tr>
            <td>Invalid 1</td>
            <td>0.005</td>
            <td>This value should be greater than or equal to 0.01.</td>
        </tr>
        <tr>
            <td>Invalid 2</td>
            <td>0.00999999999999999999</td>
            <td>This value should be greater than or equal to 0.01.</td>
        </tr>
    </table>

    <h2>Form</h2>

    {{ form_start(form) }}
    {{ form_row(form.value) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
